<!DOCTYPE html>
<html>
    <head>
        <title>todonow </title> 
        <link rel="stylesheet" href="index.scss" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
    </head>
    <body>
        <H1>My list</H1>
        <ul>
        <% @todos.each do |todo| %>
        <li> 
            <a href="/todos/<%= todo.id %>"> 
                <%= todo.name %>
            </a>
                <p><%= todo.description %></p> 
                <p class="duration"><%= todo.duration %></p> 
                <p><%= todo.deadline%></p>  
                <p>completed? <%= todo.completed ? 'Yes' : 'No'%></p>
        </li>
        <%end%> 
        </ul>
        
        <form action="/todos" method="POST" id="new-todo-block">
            <input type="hidden"
                    name="authenticity_token"
                    value="<%=form_authenticity_token%>"/>
        <input type="text" name="name" class="todo-form" placeholder="title"/>
        <input type="text" name="description" class="todo-form" placeholder="description"/>
        <input type="number" name="duration" ssid="new-pomodoro-estimate" placeholder="duration"/> 
        <input type="date" name="deadline"/>
        complete? <input type="checkbox" name="completed"/>
        <input type=submit id="add-new-todo-button" value="add todo" id="add-new-todo-button" />
      </form>
      