  <h2><%= @todo.name%></h2> 
        <p><%= @todo.description%></p> 
        <p><%= @todo.duration%></p>
        <p><%= @todo.deadline%></p>
  <p> Completed? <%=@todo.completed ? 'Yes':'No'%></p> 
  <form method="POST"
        action="/todos/<%= @todo.id%>/delete">
     <form action="/todos" method="POST" id="new-todo-block">
            <input type="hidden"
                    name="authenticity_token"
                    value="<%=form_authenticity_token%>"/>
      <button class="delete">Delete</button>
  </form>              
    <form method="POST"
        action="/todos/<%= @todo.id%>/complete">
     <form action="/todos" method="POST" id="new-todo-block">
            <input type="hidden"
                    name="authenticity_token"
                    value="<%=form_authenticity_token%>"/>
      <button class="complete">Complete</button>
  </form>              